.admin {
  width: 100%;
  height: 100vh;
}
.admin__component {
  border: 2px solid black;
  margin-top: 100px;
  margin-left: 20%;
  margin-right: 20%;
  height: 700px;
  text-align: center;
  width: auto;
  box-shadow: 1px 2px 3px 5px rgba(190, 189, 194, 0.836),
    0 3px 3px 0 rgb(49, 66, 141);
}
.input__Fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.alert {
  font-size: 0.8rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  color: #f00e0e;
}
.admin__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding: 25px;
}
.admin__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: max-content;
  width: 50%;
}
.input__Fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 5px;
  height: fit-content;
}
.input__fields {
  padding: 5px;
  text-align: center;
  margin: 10px;
  height: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: 0px;
}
.admin__form > button {
  padding: 5px;
  width: 50%;
  margin-top: 55px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(8, 8, 58);
  color: aliceblue;
  border: none;
  height: 40px;
}
.admin__form > button:hover {
  color: white;
  box-shadow: 1px 2px 3px 5px rgba(190, 189, 194, 0.836),
    0 3px 3px 0 rgb(49, 66, 141);
  cursor: pointer;
}
