.admin__Update {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.update__Left {

  width: 50%;
}
.upadate__Right {

  width: 50%;
  display: flex;
  justify-content: center;

}
.AdminCard__Container {
  border: 1px solid black;
  margin-left: 20%;
}
